.login-background {
  background: #fff url("../images/background-login-2.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.login-form-warpper {
  padding: 10px 40px;
  display: flex;
  align-items: center;
}

.forgot-password {
  color: black;
  font-weight: 600;
  font-size: 12px;
  font-style: italic;
}

.forgot-password:hover {
  color: #6366f1;
  text-decoration: none;
}
