@media screen and (min-width: 768px) {
  .pet-profile-container {
    margin-left: 60px;
    margin-top: 176px;
  }
}

@media screen and (max-width: 480px) {
  .pet-profile-container {
    margin-left: 60px !important;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .pet-profile-container {
    margin-left: 60px;
    margin-top: 40px;
  }
}
