@import "./base";
@import "./components";
@import "./utils";

.ant-picker-dropdown {
  z-index: 1056;
}

#gsi_168321_747911 {
  display: flex !important;
  position: relative !important;
}

.ant-radio-inner:after {
  background: #f39161 !important;
}

.ant-radio-checked .ant-radio-inner,
.ant-radio:hover .ant-radio-inner,
.ant-radio-wrapper:hover,
.ant-radio-input:focus .ant-radio-inner {
  border-color: #f39161 !important;
}
.ant-radio-inner {
  background-color: white !important;
}
